.modal-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__open-btn {
    position: relative;
    top: 20%;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 12px;
    transition: outline 100ms;
    outline: 0 solid;
    outline-offset: -3px;

    &:focus {
      outline: 5px solid black;
    }
  }
}
